* {
  box-sizing: border-box;
  color: black;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

section {
  background-color: coral;
  height: 100vh;
}
span {
  margin: 0;
  text-align: center;
  display: block;
  font-size: 300%;
  font-weight: 700;
  padding-top: 45vh;
}
